body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
#home-btn {
    width: 55px;
    position: absolute;
    left: 10px;
    top: 10px;
}
/* Home Page */
a {
    text-decoration: none;
    color: black;
}
h1.setBox {
    font-size: 25px;
    margin-left: 10%;
    margin-top: 15%;
}

h1#home-title {
    margin-top: 5%;
    font-size: 45px;
}
#back-btn-home, #next-btn-home {
    width: 80px;
    cursor: pointer;
    margin: 10px;
}

.setBox {
    display: flex;
    flex-shrink: 0;
    background-color: #4d809d;
    height: 250px;
    width: 250px;
    padding-left: 20px;
    margin-left: 20px;
}

.setList-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
}

::-webkit-scrollbar {
    display: none;
}

#setList {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 850px;
    align-items: center;
}

/*  New Set  */
#newSet {
    background-color: #3CB3C2;
}

/* Create Page */
.setName-wrap {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#setName {
    display: flex;
    justify-items: center;
    margin: 10%;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 25px;
    padding-top: 90px;
    padding-left: 30px;
    padding-right: 10px;
    background-color: #4d809d;
    width: 600px;
    height: 150px;
}

#create-title {
    margin-top: 10%;
}

#newset-btn, #addcard-btn {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #3CB3C2;
    font-family: "Nunito", sans-serif;    
}

#newset-btn {
    margin-top: 115px;
    height: 30px;
    width: 60px;
}

input[id="setname"] {
    display: inline;
    font-size: 20px;
    font-family: "Nunito", sans-serif;    
    margin-left: 10px;
    width: 400px;
    height: 40px;
}

/*Add-Cards page*/

.cardForm-wrap {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
}
.cardForm {
    display: flex;
    justify-content: start;
    text-align: left;
    font-size: 25px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    background-color: #4d809d;
    width: 800px;
    height: 200px;
}
#editset-title {
    margin-top: 5%;
}

.cardFront {
    display: flex;
    width: 615px;
    height: 30px;
}
.cardBack {
    display: flex;
    resize: none;
    width: 750px;
    height: 50px
}

label[for="cardfront"], label[for="cardback"] {
    font-size: 20px;
}
input[name="cardfront"],textarea[name="cardback"]{
    font-family: "Nunito", sans-serif;
}

#addcard-btn {
    margin-top: 18px;
    font-size: 15px;
    width: 90px;
    height: 30px;
}
.cardlist-wrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.cards {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 950px;
    height: 70px;
    font-family: "Nunito", sans-serif;
    font-size: 13px;
    background-color: #4d809d;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
}
.li-card-front-txt {
    display: flex;
    font-size: 15px;
    color: white;
    padding-right: 15px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: white;
    margin-right: 10px;
}

.li-card-back-txt {
    display: flex;
    color: white;
    justify-content: left;
    flex-grow: 0;
    width: 800px;
}

/* View Set */
.cardview-wrap {
    display: flex;
    justify-content: center;
}

.card-view {
    display: flex;
    align-items: center;
    overflow: scroll;
    margin-top: 180px;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100vh;
    height: 55vh;
    border-radius: 5px;
    background-color: rgba(60,178,194,30%);
}

.card__inner {
    display: flex;
    flex-shrink: 0;
    margin-left: 25px;
    margin-right: 25px;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 95vh;
    height: 50vh;
    border-radius: 5px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card__inner.is-flipped {
    transform: rotateY(180deg);
}
.card-face {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
}
.card-front h2, .card-back p {
    font-family: "Nunito", sans-serif;
}
.card-back {
    transform: rotateY(180deg);
}
.viewarrow-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}
#listbelow-txt {
    margin-bottom: 9vh;
}
#back-btn-viewset, #next-btn-viewset {
    display: flex;
    width: 40px;
    margin-bottom: 50px;
    margin-top: 5px;
    cursor: pointer;
}